.for-pass-page {
    margin: 40px auto;
    border: none;
    border-radius: 15px;
    padding: 30px;
    background-color: white;
    max-width: 600px;
}

.for-pass-form input {
    display: block;
    border: 1px solid #ddd;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

.for-pass-form input:hover {
    box-shadow: 0px 0px 5px #888;
}

.for-pass-form input:focus {
    box-shadow: 0px 0px 5px #aaa;
    outline: none;
}

.for-pass-form button {
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
}

.for-pass-form button:hover {
    box-shadow: 0px 0px 5px #aaa;
    cursor: pointer;
}

.for-pass-return {
    display: block;
    padding: 15px;
    border-top: 1px solid #ddd;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}

.for-pass-warning,
.for-pass-error {
    text-align: center;
    padding: 10px;
    border-top: 1px solid #ddd;
    color: red;
    font-weight: bolder;
    font-size: 18px;
}

.for-pass-success {
    text-align: center;
    padding: 10px;
    border-top: 1px solid #ddd;
    color: rgb(0, 255, 0);
    font-weight: bolder;
    font-size: 18px;
}