.navbar{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    background-color: #fff;
    height: 30px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    position: fixed;
    width: 100vw;
}

.navbar-filler{
    height: 30px;
    padding: 10px;
}

.navitem{
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
}

.Link{
    color: rgb(100, 160, 210);
    text-decoration: none;
    user-select: none;
}

.Link p{
    display: inline;
}

.navitem:hover{
    background-color: rgb(205, 205, 255);
}

.logout:hover{
    cursor: pointer;
}

@media screen and (max-width : 650px) {
    .Link p{
        display:none;
    }
}