body{
    background-color: #ddd !important;
}

.page-register{
    display: grid;
    height: 100vh;
    grid-template-rows: 9fr 1fr;

}

.form-container{

    margin: 40px auto ;
    background-color: #fff;
    max-width: 500px !important;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
}

.titulo{
    text-align: center;
    padding: 20px;
}

.user-div, .pwd-div, .email-div, .fullname-div{
    display: flex;
    margin:10px
}

#username, #password, #email, #fullname{
    border:none;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 8px;
    flex-grow: 1;
}

#username:focus, #password:focus, #email:focus, #fullname:focus{
    outline: none;
    box-shadow: 0px 0px 5px rgb(100, 160, 210);   
}

.submit{
    display: flex;
}

#submit{
    background-color: rgb(100, 160, 210);
    color: white;
    font-weight: bolder;
    font-size: 20px;
    margin:10px;
    padding: 10px;
    border:none;
    border-radius: 5px;
    flex-grow: 1;
}

#submit:hover{
    box-shadow: 0px 0px 5px rgb(100, 160, 210);
}

.login-redirect{
    margin: 10px;
    padding: 10px;
    padding-bottom: 30px;
    text-align: center;
}

.resultado{
    padding: 0;
    margin: 0;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    padding: 50px;
}

.fracaso{
    color: rgb(210, 100, 100);
}

.exito{
    color: rgb(110, 210, 100);
}