.comments-background {
    background: rgb(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    transition: opacity 0.5s;
}

.comments-container {
    background-color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 4px #888;
    margin: auto;
    padding: 20px;
    max-width: 600px;
    max-height: calc(100vh - 200px);
    margin-top: 100px;
    margin-bottom: 100px;
}

.comments-list {
    height: 350px;
    overflow: auto;
}

.comment-container {
    padding: 10px;
    margin-top: 10px;
    background-color: #eee;
    border-radius: 10px;
    position: relative
}

.comment-user {
    font-weight: 600;
    font-size: 1.2rem;
    margin-right: 15px;
}

.comment-user,
.comment-date {
    display: inline-block;
}

.comment-content {
    border-left: 1px solid #ccc;
    padding: 10px;
    margin-left: 15px;
}

.comment-options {
    position: absolute;
    right: 1rem;
    top: 1rem;
    background-color: transparent;
    border: none;
    font-weight: 1000;
}

.comment-options:hover {
    color: rgb(100, 140, 200)
}

.post-comment-form {
    padding: 20px;
}

.input-comment,
.submit-comment {
    padding: 10px;
}

.input-comment {
    border: 1px solid #ddd;
    border-radius: 10px;
}

.submit-comment {
    margin-left: 10px;
    border: none;
    border-radius: 10px;
}

.submit-comment:hover {
    background-color: #ddd;
    cursor: pointer;
}

.input-comment:focus {
    outline: none;
}

@media screen and (max-width : 400px) {
    .post-comment-form {
        display: flex;
    }

    .submit-comment {
        width: 65px;
        overflow: hidden;
        font-size: 10px;
    }

    .input-comment {
        width: 0;
        flex-grow: 1;
    }
}